*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}

.subtitle{
    color: #289BDE;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.container{
    width: 1340px;
    margin: 0 auto;
}

/* =============================common css end =============================*/
.heading .item{
    padding-top: 143px;
}
.heading .item h4{
    color: #289BDE;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title{
    color: #071B27;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.heading .item h2{
    color: #071B27;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.container{
    width: 1340px;
    margin: 0 auto;
}

/* ===================== navbar start ahere ====================== */

#navbar{
    padding: 13px 0px;
    position: absolute;
    width: 100%;

}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .logo{
    width: 20%;
}

.menu{
    width: 60%;
} */

.nav-btn{
    /* width: 20%; */
    display: flex;
    justify-content: flex-end;
    column-gap: 18px;
}

.menu ul{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.menu ul .menu-items a{
    line-height: normal;
    color: #fff;
    font-size: 16px;
    font-weight: 500px;
    text-transform: capitalize;
    transition: all linear 0.3s;
}

.menu ul .menu-items a:hover{
    color: #2890dc;
}

.nav-btn a{
    display: inline-block;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400px;
    padding: 9px 15px;
    line-height: normal;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all linear 0.3s;
}
.nav-btn a:last-child{
    padding: 9px 45px;
}

.nav-btn a:hover{
    background: #2890dc;
    border: 1px solid  #2890dc;
}
/* ===================== navbar end ahere ====================== */


/* ================== banner start here ========================= */

#banner{
    padding: 277px 0 350px 0;
    background: #071B27;
    text-transform: capitalize;
}

.banner-wrapper h4{
    color: #fff;
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    line-height: normal;
}

.banner-wrapper h1{
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    line-height: normal;
    max-width: 1117px;
    margin: 0 auto;
}

.banner-btn{
    margin-top: 40px;
    display: flex;
    column-gap: 24px;
    justify-content: center;
}

.banner-btn a{
    display: inline-block;
    color: #fff;
    line-height: normal;
    font-size: 20;
    font-weight: 400;
    padding: 20px 30px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all linear 0.3s;

}

.banner-btn a:hover{
    background: #2890dc;
    border: 1px solid  #2890dc;
}

.banner-emoji{
    position: relative;
}

.right-emj{
    position: absolute;
    width: 386px;
    height: 245px;
    right: -210px;
    top: -80px;
    transform: translateY(-100%);
}

.left-emj{
    position: absolute;
    width: 355px;
    height: 244.5px;
    left: -200px;
    top: -83px;
    transform: translateY(-100%);
}

/* ================== banner end here ========================= */

/* ===================== banner card start here ==================== */
.card-wrapper{
    display: flex;
    column-gap: 32px;
    justify-content: space-between;
    padding: 0 40px;
    margin-top: -188px;
}

.card-1{
    width: 343px;
    height: 432px;
    background-color: red;
    border-radius: 15px;
    overflow: hidden;
}

.card-2{
    width: 417px;
    position: relative;
    margin-top: 50px;
}
.inner-card-1{
    width: 234px;
    height: 281px;
    background-color: lightcoral;
    border-radius: 15px;
    overflow: hidden;
}
.inner-card-2{
    width: 299px;
    height: 140px;
    background-color: lightblue;
    border-radius: 15px;
    position: absolute;
    top:-70px;
    left: 117px;
    overflow: hidden;
}

.card-3{
    width: 445px;
    height: 385px;
    background-color: yellowgreen;
    border-radius: 15px;
    margin-top: 47px;
    overflow: hidden;
}

.banner-card-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner-bar{
    background: transparent;
    width: 100%;
    height: 53px;
    margin-top: 54px;
}
/* ===================== banner card end here ==================== */
.heading .item p{
    color: #666;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.2px;
padding: 0 357px;
padding-bottom: 60px;
}

.about-item {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.about-item:nth-child(even){
    flex-direction: row-reverse;
}


.about-item .text{
    width: 50%;
   
}
.about-item .text h2{
    color: #07003B;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 182px;
}
.about-item .text p{
    font-size: 20px;
    line-height: 41px;
}
.about-item .text p>span{
    color: #289BDE;
}
.about-item .img{
    width: 40%;
}

.about-item .img img{
    width: 100%;
    object-fit: cover;

}

.about-main{
    display: flex;
    flex-direction: column;
}
/*  ========================= about css end =========================*/
#offer{
    margin-top: 157px;
    padding: 150px 0;
    background: #071B27;;
}
.offer .offer-heading{
    margin-bottom: 60px;
    margin-left: 40px;
}
.offer .offer-heading p{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}
.offer .offer-heading h4{
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }
.offer .offer-content {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
}
.offer .offer-content .item{
    width: 45%;
    
}
.offer .offer-content .item .item-image img{
    width: 100%;
    object-fit: cover;
}

.offer .offer-content ul li span{
    color: #289BDE;
}
.offer .offer-content ul li{
    color: #E6E6E6;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.offer .offer-content .m40{
    margin: 40px 0;
}


/* =============================offer css end =============================*/
#mission{
    margin: 150px 0;
}
.mission .heading h4{
    color: #071B27;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
    width: 451px;
    margin-bottom: 54px;
}
.mission .content {
    display: flex;
    justify-content: space-around;
}
.mission .content .main-mission{
    width: 45%;
}
.mission .content .main-mission .item img{
    margin-top: 10px !important;
}

.mission .content .main-mission .item p{
    display: inline-block;
    color: #071B27;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.26px;
    margin-bottom: 12px;
    margin-left: 10px;
}
.mission .content .main-mission .item h6{
    color: #666;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.16px;
    margin-bottom: 25px;
}

.mission .content .main-image{
    width: 50%;
    
}

/* =============================Mission css end =============================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', serif;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}
.container {
  width: 1340px;
  margin: 0 auto;
}
.subtitle {
  color: #289bde;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.title {
  font-size: 40px;
  font-weight: 600;
  line-height: normal;
  color: #071b27;
  text-align: center;
}
/* =======Community Part Start here ======= */

#community {
  margin-top: 144px;
}
.community_heading p {
  width: 622px;
  text-align: center;
  margin-top: 22px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #666;
}
.community_content_heading {
  display: flex;
  column-gap: 6px;
  margin-top: 129px;
}
.community_wraper {
  display: flex;
  justify-content: space-between;
}
.community_content_heading h4 {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.26px;
  color: #071b27;
  margin-bottom: 37px;
}
.community_content_details_name {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
.community_content_details_wraper {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.community_content_details_name i {
  border: 1px solid #289bde;
  border-radius: 5px;
  height: 24px;
  width: 24px;
  background-color: #289bde;
  text-align: center;
  line-height: 24px;
}
.community_content_details_name h5 {
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
  color: #071b27;
}
.community_content_details_wraper .community_content_details_deta p {
  width: 405px;
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  color: #666;
  margin-top: 9px;
  margin-left: 33px;
}
.community_content2 {
  width: 294px;
  height: 574px;
  overflow: hidden;
  margin-top: 60px;
}
.community_content2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.community_join_btn {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 140px;
}
.community_join_btn a {
  display: inline-block;
  padding: 13px 28px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  background-color: #289bde;
  border: 1px solid #289bde;
}
/* =======Community Part end here ======= */

/* =======contact Part start here ======= */
.contact_heading p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #666;
  width: 616px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}
.contact_wraper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 140px;
}
.contact_details h3 {
  width: 380px;
  color: var(--Black, #12141d);
  font-size: 42px;
  font-weight: 500;
  line-height: 52px;
}
.contact_details p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #000;
}
.contact_details p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  max-width: 445px;
  margin-top: 22px;
  margin-bottom: 14px;
}
.contact_details span i {
  margin-right: 9px;
  height: 15px;
  width: 20px;
}
.contact_details span {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--Black, #12141d);
  margin-top: 15px;
}
.contact_method .box {
  width: 498px;
  padding: 43px 36px 57px 36px;
  border-radius: 10px;
  background: var(--01, #fff);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.08);
}
.contact_method .box h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 35px;
  color: var(--Black, #12141d);
  width: 376px;
  margin-bottom: 22px;
  text-align: center;
  margin: 0 auto;
}
.contact_method .box form label {
  display: inline-block;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--Black, #12141d);
}
.contact_method .box form input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #dde1e0;
  background: var(--01, #fff);
  margin-bottom: 17px;
  padding-left: 25px;
  padding-right: 25px;
}
.contact_method .box form button {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
  padding: 16px 20px;
  background-color: #289bde;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #289bde;
  margin-top: 40px;
}
.contact_method .box form button i {
  margin-left: 9px;
}

/* =======contact Part end here ======= */

/* =======footer Part start here ======= */
footer {
  background: url(../images/footer.png) no-repeat center;
  background-size: cover;
  padding: 70px 0;
}
footer .box {
  width: 851px;
  height: 444px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 68px;
}
footer .box .box_wraper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .box h3 {
  font-size: 34px;
  font-weight: 600;
  line-height: normal;
  color: #071b27;
  text-align: center;
  margin-top: 71px;
}
footer .box h5 {
  color: #071b27;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-top: 12px;
}
footer .box p{
  width: 544px;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color:#666;
  text-align: center;
  margin: 0 auto;
  margin-top: 11px;
}
footer .box .contact_details{
  display: flex;
  justify-content: center;
  column-gap: 26px;
  margin-top: 27px;
}
footer .box span{
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
footer .box span i{
  width: 20px;
  height: 15px;
  margin-right: 10px;
}
footer .box a{
  padding: 13px 28px;
  color:#fff;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  background-color: #289BDE;
  border-radius: 5px;
  border: 1px solid #289BDE;
  margin: 0 auto;
  margin-top: 41px;
  
}
footer .line{
  display:flex;
  align-items: center;
  height: 94px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin-bottom: 33px;
}
.footer_wraper{
  display: flex;
  justify-content: space-between;
}
.line .container .f_logo p{
  font-size: 30px;
  font-weight: 600;
  line-height: normal;
  color:#fff;
}
.term{
  display: flex;
  column-gap: 17px;
  align-items: center;
}
.term p{
  font-size: 16px;
  font-weight: 500;
  color:#fff;
  line-height: normal;
}
.f_icon{
  display: flex;
  column-gap: 4px;
  align-items: center;
}
.f_text{
  display: flex;
  justify-content: center;
}
.f_text p{
  
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color:#fff;
}
/* =======footer Part end here ======= */
